// article style
@require '_variables'

article
    padding: $article-padding
    border-bottom: 1px dashed #CCC

    &:last-of-type
        border-bottom: none

    h1
        margin: 0
        color: #4183C4
        font-size: 2em
        text-align: center

    h2
        font-size: 1.5em
    h3
        font-size: 1.3em
    h4, h5, h6
        font-size: 1em

    p
        color: #666
        text-indent: 2em

        &.meta
            font-size: $font-size - 2px
            color: #CCC
            text-align: right

            a
                color: #CCC
                margin: 0 3px
