// aside style
@require '_variables'

aside
    position: fixed
    top: 0
    left: 0
    bottom: 0
    font-size: $font-size + 2px
    width: $width-aside - 2 * $aside-padding
    padding: $aside-padding
    border-right: 1px solid #CCC
    background: #EEE

    .profile
        text-align: center

        .avatar
            display: inline-block
            width: 150px
            height: @width
            border: 5px solid #FFF
            border-radius: 999
            box-shadow: 0 0 20px #333
            background: url(img/avatar.jpg) -5px -5px no-repeat

            a
                display: inline-block
                width: 100%
                height: 100%

    .cpr
        position: absolute
        text-align: center
        font-size: $font-size - 2px
        color: #BBB
        left: 0
        right: 0
        bottom: 10px

        p
            margin: 0
        a
            color: #BBB
