// Fork from https://github.com/chriskempson/tomorrow-theme
highlight-background = #090B18
highlight-current-line = #393939
highlight-foreground = #cccccc
highlight-comment = #595959

highlight-id = #FC6621
highlight-variable = #FD9827
highlight-string = #65CC40
highlight-keyword = #EEDD36
highlight-buildin = #FC6621
highlight-number = #CCFC43
highlight-tag = #FEDC32
highlight-name = #5CA5F3
highlight-params = #87A8CE
highlight-attr = #63A5F3

$code-block
    background: highlight-background
    margin: 0 $main-padding * -1
    padding: 15px $main-padding
    border-style: solid
    border-color: color-border
    border-width: 1px 0
    overflow: auto
    color: highlight-foreground
    font-size: $font-size
    line-height: $font-size * $line-height

$line-numbers
    color: #666
    font-size: 0.85em

pre, code
    font-family: menlo
code
    background: color-background
    text-shadow: 0 1px #fff
    padding: 0 0.3em
    background: rgba(0,0,0,0.04)
    border-radius: 3px
pre
    @extend $code-block
    code
        background: none
        text-shadow: none
        padding: 0

.highlight
    @extend $code-block
    pre
        border: none
        margin: 0
        padding: 0
    table
        margin: 0
        width: auto
    td
        border: none
        padding: 0
    figcaption
        clearfix()
        font-size: 0.85em
        color: highlight-comment
        line-height: 1em
        margin-bottom: 1em
        a
            float: right
    .gutter pre
        @extend $line-numbers
        text-align: right
        padding-right: 20px
    .line
        height: $font-size * $line-height
.gist
    margin: 0 $main-padding * -1
    border-style: solid
    border-color: color-border
    border-width: 1px 0
    background: highlight-background
    padding: 15px $main-padding 15px 0
    .gist-file
        border: none
        font-family: menlo
        margin: 0
        .gist-data
            background: none
            border: none
            .line-numbers
                @extend $line-numbers
                background: none
                border: none
                padding: 0 20px 0 0
            .line-data
                padding: 0 !important
        .highlight
            margin: 0
            padding: 0
            border: none
        .gist-meta
            background: highlight-background
            color: highlight-comment
            font: 0.85em font-sans
            text-shadow: 0 0
            padding: 0
            margin-top: 1em
            margin-left: $main-padding
            a
                color: color-link
                font-weight: normal
                &:hover
                    text-decoration: underline

pre
    .comment
    .doctype
    .meta
        color: highlight-comment
    .variable
        color: highlight-variable
    .title
    .attribute
    .tag
        color: highlight-tag
    .tag .name
        color: highlight-name
    .tag .attr
        color: highlight-name
        font-weight: bold
    .regexp
    .string
        color: highlight-string
    .ruby .constant
    .xml .tag .title
    .xml .pi
    .css .id
    .css .class
    .css .pseudo
        color: highlight-id
    .number
        color: highlight-number
    .preprocessor
    .built_in
    .literal
    .constant
    .keyword
        color: highlight-keyword
    .params
        color: highlight-params
    .function
        color: #FFF

.javascript
    .keyword
        color: highlight-buildin
        font-weight: bold
    .subst
        color: highlight-params

.css
    .selector-tag
        color: highlight-buildin
        font-weight: bold
    .selector-class
        color: highlight-tag
    .attribute
        color: highlight-attr
        font-weight: bold

.sh
    .built_in
        color: highlight-buildin
        font-weight: bold
    .variable
        color: highlight-params
