// links style
@require '_variables'

.links
    position: absolute
    bottom: 0
    left: $width-aside + 2 * $aside-padding + 1px
    right: 10px
    border-top: 1px dashed #CCC
    height: 30px
    line-height: @height
    font-size: 14px
    text-align: right
    overflow: hidden

    a
        &.prev
            float: left
            &::before
                content: "«"
                margin-right: 3px

        &.next
            float: right
            &::after
                content: "»"
                margin-left: 3px
