// links style
@require '_variables'

.links
    position: absolute
    bottom: 0
    left: $width-aside + $main-padding
    right: $main-padding
    border-top: 1px dashed #CCC
    height: $link-height
    line-height: @height
    text-align: center
    color: #999
    overflow: hidden

    a
        &.prev
            float: left
            &::before
                content: "«"
                margin-right: 3px

        &.next
            float: right
            &::after
                content: "»"
                margin-left: 3px
