// main style
main
    margin-left: $width-aside
    padding: $main-padding 2 * $main-padding

    section
        margin-top: $main-padding

main
    @import '_article'
    @import '_links'
    @import '_comments'
