// main style
main
    margin-left: $width-aside
    padding: $main-padding 2 * $main-padding

    section
        margin-top: $main-padding

    @media screen and (max-width: $breakpoint)
        margin-left: 0
        margin-top: $aside-height

main
    @import '_article'
    @import '_links'
    @import '_comments'
